defmodule Fitparser.Profile do
  @moduledoc false

  defmacro __using__(_opts) do
    quote do
      defp developer_type("enum"), do: 0
      defp developer_type("sint8"), do: 1
      defp developer_type("uint8"), do: 2
      defp developer_type("sint16"), do: 3
      defp developer_type("uint16"), do: 4
      defp developer_type("sint32"), do: 5
      defp developer_type("uint32"), do: 6
      defp developer_type("string"), do: 7
      defp developer_type("float32"), do: 8
      defp developer_type("float64"), do: 9
      defp developer_type("uint8z"), do: 10
      defp developer_type("uint16z"), do: 11
      defp developer_type("uint32z"), do: 12
      defp developer_type("byte"), do: 13
      defp developer_type("sint64"), do: 14
      defp developer_type("uint64"), do: 15
      defp developer_type(_), do: nil

      defp type_to_base(:enum), do: 0
      defp type_to_base(:sint8), do: 1
      defp type_to_base(:uint8), do: 2
      defp type_to_base(:sint16), do: 3
      defp type_to_base(:uint16), do: 4
      defp type_to_base(:sint32), do: 5
      defp type_to_base(:uint32), do: 6
      defp type_to_base(:uint8z), do: 10
      defp type_to_base(:uint16z), do: 11
      defp type_to_base(:uint32z), do: 12
      defp type_to_base(:byte), do: 13
      defp type_to_base(:sint64), do: 14
      defp type_to_base(:uint64), do: 15
      defp type_to_base(_), do: 0

      <%= for {number, name} <- @messages do %>
        defp message(<%= number %>), do: <%= ":" <> name %>
      <% end %>
        defp message(_), do: nil
      <%= for {message, number, name, type, scale, offset, units, enum, array, components, bits, accumulate, ref_field_name, ref_field_value, _comment, subfields} <- @fields do %>
        defp field(<%= message %>, <%= number %>) do
          %Fitparser.FieldDefinition{
            name: <%= inspect(name) %>,
            type: <%= type %>,
            scale: <%= inspect(scale) %>,
            offset: <%= inspect(offset) %>,
            units: <%= inspect(units) %>,
            enum: <%= inspect(enum, limit: :infinity) %>,
            array: <%= inspect(array) %>,
            components: <%= inspect(components) %>,
            bits: <%= inspect(bits) %>,
            accumulate: <%= inspect(accumulate) %>,
            ref_field_name: <%= inspect(ref_field_name) %>,
            ref_field_value: <%= inspect(ref_field_value) %>,
            subfields: <%= inspect(subfields, limit: :infinity) %>
          }
        end
      <% end %>
        defp field(_, _), do: nil
      <%= for {message, number, name, _type, _scale, _offset, _units, _enum, _array, _components, _bits, _accumulate, _ref_field_name, _ref_field_value, _comment, _subfields} <- @fields do %>
        defp field_by_name(<%= message %>, <%= inspect(name) %>), do: field(<%= message %>, <%= number %>)
      <% end %>
        defp field_by_name(_, _), do: nil
    end
  end
end
